
// COLORS
$color-cyan-light: hsl(171, 66%, 54%);
$color-cyan-medium: hsl(171, 66%, 49%);
$color-cyan-dark: #26baa4;

$color-blue-light: hsl(233, 100%, 79%);
$color-blue-medium: hsl(233, 100%, 74%);
$color-blue-dark: #6173ff;

$color-grey-dark: #4c545d;
$color-grey-light: #9fabb2;

$color-white: #fff;
$color-black: #000;

// FONT
$font-size-default: 1.5rem;

$font-weight-default: 400;

$font-color-dark: $color-grey-dark;
$font-color-light: $color-grey-light;